// banner images

#banner_images {
	padding:0;
	padding-bottom:5px;
}










#footer_wrapper {
	
	border-top:1px solid #c3c2c2;
}


#payment_card_images {
	text-align:center;
}
/********** Newsletter form *******************/
.widget_wysija_cont .wysija-submit {
	display: inline;
	margin-top:0px;
	margin-left:15px;
}
#form-validation-field-0 {
	display: inline;
    float: left;
}