#nav-primary {
  

ul {
  list-style:none;

  li {
   
   
  }

li a {
  float:left;
  color:#fff;
  padding:0; 
 margin-left:20px;
  &:hover {
  background:none;
  }

 }
 

}



}



/************ front-page ********************/

#categories h3 {
	background-color:#FDC642;
	color:#fff;
	text-align:center;
	font-weight:3
	00;
	padding:5px;
}


ul#menu-menu {
	    list-style: none;
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
    color: #000;

  li {
  display:block;
  border-bottom:1px solid #eef;
  _background-color:#eef;
   }
}









