#product-thumbnails {
	
  text-align:center;
      box-shadow: 0px 0px 3px rgb(150, 150, 150);
    -webkit-box-shadow: 0px 0px 3px rgb(150, 150, 150);
    margin: 1% 0 1% 1.6%;

h2 {
	color:#fdc642;
	font-weight:400;
    font-size:1.6em;
   border-bottom:1px solid #fdc642;
}

}


/**************** checkout pages ***********************/

input[type=text] {
	padding:5px;
}












